# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables / API keys
.env
*.key
credentials.json

# Logs and reports
*.log
reports/
scans/

# Système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cloud specific
.aws/
.azure/
.config/gcloud/
